# Credentials
config.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Nadeo & API Caches (Contains session tokens)
NadeoLiveServices.json
NadeoServices.json
WeeklyShortsCache.json

# IDE Folders
.idea/
.vscode/

# Virtual Environments
venv/
env/